@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 15s;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 60%;
    left: 7%;
    animation: movebanner 2.1s;
}

.banner h1{
    color: #e2e2e2;
    font-size: 3.5rem;
    font-family: 'Lato', arial;
    font-weight: 374;
    text-shadow: .29rem .38rem 3px rgba(0, 0, 0, 0.55);
    line-height: 3.9rem;
    margin-bottom: 0.8rem;
}

.banner p{
    font-family: 'Noto Sans TC', 'serif';
    color: #dfffff;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    text-shadow: .1rem .2rem 1px rgba(0, 0, 0, .5);
}

.banner button{
    font-family: 'Noto Sans Tc', 'serfi';
    font-weight: 200;
    font-size: 1rem;
    text-shadow: .09rem .09rem 8px  rgba(0, 0, 0, 1);
    text-transform: ;
    letter-spacing: .04rem;
    background: #273B3B;
    background: -webkit-linear-gradient(to right, #318787, #273B3B);
    background: linear-gradient(to right, #318787, #273B3B);
    color: white;
    padding: .4rem .9rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.banner button:hover{
    background: rgb(255, 255, 255);
    color: #273B3B ;
    box-shadow:  0 0 0 3px #82c6c6;
    font-weight: 374;
    text-shadow: none;
    border-radius: 15px;
}

@keyframes movebanner{
    0%{
        transform: translateX(10rem) rotateX(-50deg); 
        opacity: 0;
    }
    25%{
        opacity: 0.01;
    }
    100%{
        transform: translateX(0) rotateX(0); 
        opacity: 1;
    }
    
}
