@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100;300;400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');

:root{
    --font-primaria: 'Lato', 'arial';
    --font-secundaria: 'Noto Sans TC', 'serif';
    --font-ação: Helvetica, sans-serif;
    --cor-primaria: #44bbbb;
    --cor-primaria-ecura: #273b3b;
    --cor-primaria-clara: #82c6c6;
    --cor-secundaria: #318787;
    --cor-laranja-em-shock: #ed4b3e;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.hamburguer{
    background-color: var(--cor-primaria);
    animation: move-hamburguer 3s;
    width: 3rem;
    height: 3rem;
    position: fixed;
    z-index: 374;
    right: 2rem;
    top: 2rem;
    border-radius: 100%;
    opacity: 0.473;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    transition: all .5s;
}

.hamburguer.show-menu{
    right: 15.9rem;
    background-color: var(--cor-primaria-ecura);
}


.hamburguer.show-menu #line1{
    transform: rotate(45deg) translate(.25rem, .25rem);
     
}
    
.hamburguer.show-menu #line2{
    opacity: 0;
}
    
.hamburguer.show-menu #line3{
    transform: rotate(-45deg) translate(.39rem, -.50rem);
    
}
    

.line{
    width: 40%;
    height: .18rem;
    background-color: white;
    position: relative;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    top: 12.5px;
    transition: .5s;
}

@keyframes move-hamburguer{
    0%{
        transform: translateX(10rem);
        opacity:0;
    }
    60%{
        opacity: 0.0000374;
    }
    100%{
        transform: translateX(0);
    }
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 15s;
}

@keyframes zoom {
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 60%;
    left: 7%;
    animation: movebanner 2.1s;
}

.banner h1{
    color: #e2e2e2;
    font-size: 3.5rem;
    font-family: var(--font-primaria);
    font-weight: 374;
    text-shadow: .29rem .38rem 3px rgba(0, 0, 0, 0.55);
    line-height: 3.9rem;
    margin-bottom: 0.8rem;
}

.banner p{
    font-family: var(--font-secundaria);
    color: #dfffff;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
    text-shadow: .1rem .2rem 1px rgba(0, 0, 0, .5);
}

.banner button{
    font-family: var(--font-secundaria);
    font-weight: 200;
    font-size: 1rem;
    text-shadow: .09rem .09rem 8px  rgba(0, 0, 0, 1);
    letter-spacing: .04rem;
    background: #273B3B;
    background: -webkit-linear-gradient(to right, var(--cor-secundaria), var(--cor-primaria-ecura));
    background: linear-gradient(to right, var(--cor-secundaria), var(--cor-primaria-ecura));
    color: white;
    padding: .4rem .9rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.banner button:hover{
    background: rgb(255, 255, 255);
    color: var(--cor-primaria-ecura) ;
    box-shadow:  0 0 0 3px var(--cor-primaria-clara);
    font-weight: 374;
    text-shadow: none;
    border-radius: 15px;
}

@keyframes movebanner{
    0%{
        transform: translateX(10rem) rotateX(-50deg); 
        opacity: 0;
    }
    25%{
        opacity: 0.01;
    }
    100%{
        transform: translateX(0) rotateX(0); 
        opacity: 1;
    }
    
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: var(--cor-primaria-clara);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all .374s;
}


.sidebar.show-menu{
    right: 0rem;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .3rem;
}

.menu-link{
    font-family: var(--font-ação);
    font-size: 1.743rem;
    color: rgb(230, 240, 240);
    transition: color .5s;
}

.menu-link:hover{
    color: #f7b1ac;
    text-shadow: .06rem .06rem 1px rgba(105, 105, 105, .7);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    color: var(--cor-primaria-ecura);
    width: 1.734rem;
    height: 1.734rem;
    font-size: 1.734rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .5s ;
}

.social-media i:hover{
    color: var(--cor-laranja-em-shock) ;
}